body{
    padding: 70px 0;
    text-align: center;
    padding-top: 300px;
    padding-bottom: 200px;
    font-family: "Ubuntu Mono", sans-serif;
    background-color: #282442;
    color: white;
}

.slider {
    -webkit-appearance: none;
    width: 30%;
    height: 25px;
    background: white;
    opacity: 0.8;
    border-radius: 10px;
  }
  .slider:hover {
    opacity: 1;
  }
  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 30px;
    height: 25px;
    background: #131122;
    border-radius: 10px;
  }
  
.button{
    font-family: "Ubuntu Mono", sans-serif;
    background-color: #282442;
    color: white;
    border-color:white;
    padding: 10px;
   font-size: 20px;
}
.output{
    font-size:40px;

}

